{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

    <br><br>

    <div class="container">
        <div class="row justify-content-md-center">
            {% for user, training_programs in users_training_programs.items %}
                <div class="col col-md-6">
                    <h5>{% blocktrans with first_name=user.first_name %}{{ first_name }}'s Programs{% endblocktrans %}</h5>
                    {% for program in training_programs %}
                        {% include 'gym/program_card.html' %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    $(".modal").on("show.bs.modal", function () {
        var iframe = $(this).find("iframe");
        if (!iframe.attr("src")) {
            iframe.attr("src", iframe.data("src"));
        }
    });
    $(".modal").on("hidden.bs.modal", function () {
        $(this).find("iframe").attr("src", "");
    });
{% endblock javascript %}