{% include "create_item_modal.html" %}

<nav class="navbar navbar-light fixed-top bg-light-2">

    <a class="navbar-brand" href="/">
        <span class="material-icons-outlined mr-1">
            workspaces
        </span>
        Life
    </a>

    <div class="form-inline">
        {% if user.is_authenticated and user.is_superuser %}
            <a class="btn btn-icon btn-sm ml-2 bg-light-1" href="{% url 'admin:index' %}">
                <span class="material-icons red">lock_open</span>
            </a>
        {% endif %}

        {% if user.is_authenticated %}

            <a class="btn btn-dark ml-2" href="{% url 'gym' %}">Gym</a>
            <a class="btn btn-dark ml-2" href="{% url 'notes' %}">Notes</a>

        {% endif %}

        {% if not user.is_authenticated %}
            <a class="btn btn-outline-dark ml-2" href="{% url 'account_login' %}">Login / Register</a>
        {% else %}
            <div class="">
                <a class="btn btn-outline-dark ml-2" href="{% url 'profile' %}">Profile</a>
                <a class="btn btn-outline-dark ml-2" href="{% url 'account_logout' %}">Logout</a>
            </div>
        {% endif %}

    </div>

</nav>